.color0 {
  background-color:	#8A2BE2;
}
.color1 {
  background-color: #F2B429;
}
.color2 {
  background-color: #00ffff;
}
.color3 {
  background-color: ##8FBC8F;
}
.color4 {
  background-color: #8B008B;
}
